#always
# Форматеры кода
black==23.7.0
autopep8==2.0.2

# Проверка стиля кода
flake8==6.0.0

# Анализ типов кода
mypy==1.4.1

# Дополнительные хуки
pre-commit==3.3.3
pre-commit-hooks==v4.4.0
setup-cfg-fmt==2.4.0
reorder-python-imports==3.10.0
add-trailing-comma==3.0.0
pyupgrade==3.9.0


#optional
Django==4.2.3
Faker==19.2.0
polls==0.1
