{% extends "_helpers/_base.html" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <button id="showButton" name="showButton">Add task</button>
    <form id="myForm" method="POST">
    {% csrf_token %}
        <label for="name_task">What you should to do?</label>
        <input type="text" name="name_task"/>
        <label for="check">do or not:</label>
        <input type="checkbox" name="check" value="true"/>
        <button type="submit">Add task</button>
    </form>


    <div class="home_page_check">
    {% for task in tasks %}
        <label for="task{{ forloop.counter }}">{{ task.task }}</label>
        <input type="checkbox" name="task{{ forloop.counter }}" value="{{ task.is_done }}"
               {% if task.is_done %}checked{% endif %} disabled>
    {% endfor %}

    </div>
{% endblock %}
