.container {
    color: #262626; /* Пастельный фон */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.registration-form {
    max-width: 300px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #737373;
    border-radius: 3px;
}

button {
  background-color: #666;
    color: #333333; /* Пастельный фон */
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #8f8f8f;
}
