{% extends "_helpers/_base.html" %}


{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <form method="POST">
    {% csrf_token %}
        <label for="name_task">Who is players? write like (Vasa Peta ...)</label>
        <input type="text" name="name_players"/>
        <label for="check">Input yours word</label>
        <input type="text" name="input_word"/>
        <label for="check">Name room?</label>
        <input type="text" name="name_room"/>
        <button type="submit">Start Game</button>
    </form>


{% endblock %}
